bewerbung/talentsconnect/cv-download-workflow.json
{
  "name": "Bewerbung · CV-Download mit Tracking · talentsconnect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "cv-talentsconnect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-cv",
      "name": "Webhook · CV Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "cv-talentsconnect"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.query.src || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "user_agent",
              "name": "user_agent",
              "value": "={{ $json.headers['user-agent'] || '' }}",
              "type": "string"
            },
            {
              "id": "referrer",
              "name": "referrer",
              "value": "={{ $json.headers.referer || 'direct' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "ip_hint",
              "name": "ip_hint",
              "value": "={{ $json.headers['x-forwarded-for'] || $json.headers['cf-connecting-ip'] || 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize",
      "name": "Capture Visit Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "chatId": "486622230",
        "text": "=📥 *CV-Download · talentsconnect*\n\n🕒 {{ $now.setZone('Europe/Berlin').toFormat('dd.MM.yyyy · HH:mm') }}\n🔗 Quelle: `{{ $json.source }}`\n🌐 Referrer: `{{ $json.referrer }}`\n💻 {{ $json.user_agent.slice(0, 60) }}...\n\n→ Lebenslauf wurde gerade heruntergeladen!",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-download",
      "name": "Telegram · Download Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 200],
      "credentials": {
        "telegramApi": { "name": "Telegram account 2" }
      }
    },
    {
      "parameters": {
        "url": "https://ninalearnsvibecoding.com/bewerbung/talentsconnect/cv-nina-panknin.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfFile"
            }
          }
        }
      },
      "id": "fetch-pdf",
      "name": "Fetch CV-PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 440]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBody": "={{ $binary.pdfFile }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/pdf" },
              { "name": "Content-Disposition", "value": "attachment; filename=\"CV-Nina-Panknin.pdf\"" },
              { "name": "Cache-Control", "value": "public, max-age=3600" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "X-Delivered-By", "value": "n8n · ninalearnsvibecoding" }
            ]
          }
        }
      },
      "id": "respond-pdf",
      "name": "Respond PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 440]
    },
    {
      "parameters": {
        "content": "## 📥 CV-Download mit Tracking · talentsconnect\n\n**Flow:**\n1. User klickt CV-Download oder scannt QR-Code\n2. Browser ruft `GET /webhook/cv-talentsconnect?src=<context>`\n3. Parallel:\n   - Telegram-Push an Nina (sofort)\n   - PDF aus statischem Hosting nachladen\n4. PDF wird mit `Content-Disposition: attachment` als Download geliefert\n\n**Vorteile gegenüber direktem statischem PDF-Link:**\n- ✅ Du erfährst SOFORT wer dein CV runterlädt — nicht nur wer die Seite öffnet\n- ✅ Telegram-Notification beim Download → du kannst proaktiv nachfassen\n- ✅ Source-Parameter unterscheidet: QR-Scan, CV-Button, Mail-Anhang\n- ✅ Filename via Content-Disposition (saubere CV-Nina-Panknin.pdf statt UUID)\n\n**Query-Params:**\n- `src=qr` → User hat QR-Code gescannt\n- `src=button` → User hat Download-Button geklickt\n- `src=mail` → Link aus E-Mail\n\n_Beispiel:_\n```\nhttps://n8n.ninalearnsvibecoding.com/webhook/cv-talentsconnect?src=qr\n```\n\n**WICHTIG:** Die PDF muss unter der HTTP-Request-URL erreichbar sein (statisches Hosting). Alternativ: PDF in Read-Binary-File Node von Disk lesen.",
        "height": 380,
        "width": 540,
        "color": 5
      },
      "id": "note-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [120, 100]
    }
  ],
  "connections": {
    "Webhook · CV Request": {
      "main": [
        [{ "node": "Capture Visit Context", "type": "main", "index": 0 }]
      ]
    },
    "Capture Visit Context": {
      "main": [
        [
          { "node": "Telegram · Download Alert", "type": "main", "index": 0 },
          { "node": "Fetch CV-PDF", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch CV-PDF": {
      "main": [
        [{ "node": "Respond PDF", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": [
    { "name": "bewerbung" },
    { "name": "cv" },
    { "name": "tracking" }
  ]
}
