setup/n8n-5-rag.json
{
  "name": "Tag 22 - RAG Anbindung",
  "nodes": [
    {
      "parameters": {},
      "id": "f1a2b3c4-d5e6-4f78-9a0b-1c2d3e4f5a6b",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82c0e9d4-7b3a-4e8f-9d2c-5a6b7c8d9e0f",
              "name": "text",
              "value": "n8n: Workflow Automation & AI Agents. Mein tägliches Tool für No-Code / Low-Code Pipelines. Nina nutzt es für Visitor-Tracking, Chat-Bot, LinkedIn- und Mail-Automationen.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b3e7d52-1a8c-4f6b-9e2d-3c4f5a6b7c8d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        780
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "rag_documents",
          "mode": "list"
        },
        "options": {}
      },
      "id": "5c8d4b2e-9a3f-4d7e-8b1c-2e3f4a5b6c7d",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        780,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "Y8Poc6aLJZYFRDAA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-embed",
        "options": {}
      },
      "id": "3d7a2b8c-4e9f-4a1b-9c2d-3e4f5a6b7c8e",
      "name": "Embeddings Mistral Cloud",
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        700,
        980
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "U1hko42ZYtcVWI5X",
          "name": "MISTRAL_API"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Edit Fields').item.json.text }}",
        "options": {}
      },
      "id": "8e2c4a9b-1d6f-4e3a-8b7c-9d2e3f4a5b6c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        880,
        980
      ]
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 100
      },
      "id": "f7c2a9b3-5d8e-4a1b-9c4d-6e7f2a3b4c5d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1020,
        1140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7a4d8c2b-3e9f-4b1a-8d6c-7e2f3a4b5c6d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "rag-chat-webhook"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a7c5d2e8-4b9f-4e6a-8c1d-3e4f5a6b7c8e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first()?.json?.body?.message || $('Telegram Trigger').first()?.json?.message?.text || '' }}",
        "options": {
          "systemMessage": "Du bist Ninas freundlicher AI-Assistent.\n\nDu hast Zugriff auf das Tool `landing_page_tools`, das Wissen über Ninas Tech-Stack und Tools auf der Landing Page zurückgibt.\n\nWICHTIG: Wenn der User nach einem konkreten Tool, einer Technologie oder Ninas Setup fragt — IMMER zuerst das Tool aufrufen, bevor du antwortest.\n\nAntworte kurz, konkret und auf Deutsch (außer der User schreibt anders).\n\nWenn du keinen passenden Treffer im Vektor-Store findest, sag das ehrlich — erfinde nichts."
        }
      },
      "id": "6b3a8d2c-9e4f-4a1b-7c5d-8e2f3a4b5c6e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "id": "4c8e2a9b-7d3f-4e1a-9b6c-2d3e4f5a6b7d",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        680,
        500
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "U1hko42ZYtcVWI5X",
          "name": "MISTRAL_API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first()?.json?.body?.session_id || $('Telegram Trigger').first()?.json?.message?.chat?.id || 'default-session' }}",
        "contextWindowLength": 10
      },
      "id": "2d6f8b3c-9a4e-4b1d-8c2e-3a4b5c6d7e8f",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        820,
        500
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "landing_page_tools",
        "toolDescription": "Suche Wissen über Tools auf Ninas Landing Page (n8n, Postgres, Coolify, Cursor, Claude AI, Mistral, Telegram, etc.). Immer nutzen, wenn der User nach einem konkreten Tool, einer Technologie oder Ninas Tech-Stack fragt.",
        "tableName": {
          "__rl": true,
          "value": "rag_documents",
          "mode": "list"
        },
        "topK": 4,
        "options": {}
      },
      "id": "1e5b7a3c-8d2f-4e9b-7a1c-6d8e2f3a4b5c",
      "name": "Postgres PGVector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        960,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "Y8Poc6aLJZYFRDAA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-embed",
        "options": {}
      },
      "id": "0f4a6b2d-7c8e-4f1a-9b3d-5e6f7a8b9c0d",
      "name": "Embeddings Mistral Cloud1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        960,
        680
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "U1hko42ZYtcVWI5X",
          "name": "MISTRAL_API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Telegram Trigger').first()?.json?.message?.chat?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c4b8e2a7-3d9f-4e1b-8a6c-2d3e4f5a6b7c",
      "name": "Telegram or Webhook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d6f9b4a2-7e3c-4d8b-9a1f-5e6c2d3e4b7a",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.output } }}",
        "options": {}
      },
      "id": "9d3e7b1c-2a4f-4e8b-9c1d-7e2f3a4b5c6d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Wissen lesen",
        "height": 480,
        "width": 1320,
        "color": 3
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Wissen schreiben",
        "height": 380,
        "width": 940,
        "color": 5
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        720
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram or Webhook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram or Webhook?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
